<div class="content_post" style="background-image: url(<%= tweet.image %>)">

  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul  class="more_list">
      <li>
        <!-- 詳細ボタン -->
        <%= link_to '詳細', "tweets/#{tweet.id}", method: :get %>
      </li>
<!-- ユーザがログインしている && ログインユーザが削除したいツイートを投稿したユーザのID場合 -->
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <li>
          <%= link_to '編集', "tweets/#{tweet.id}/edit", method: :get %>
        </li>
        <li>
<!--        link_toメソッドには
        第１引数 '' シングルクォーテーション
        第２引数　””　ダブルクォーテーション　式展開を使うため
        第３引数  メソッドを入れる -->
          <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
        </li>
        <% end %>
    </ul>
  </div>

  <p>
    <%= br(tweet.text) %>
  </p>
  <span class="name">
    <a href="">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
  </span>
</div>